.error {
    display: grid;
    min-height: 65vh;
    grid-template-columns: 1fr 400px 200px 1fr;
    grid-template-rows: 30px  200px 200px 30px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    &__img {
        grid-column-start: 2;
        grid-row: 2/5;
        justify-self: center;
        align-self: center;
        img {
            height: 100%;
            width: 100%;
        }
    }
    &__title {
        grid-column: 3;
        grid-row: 2;
        justify-self: center;
        align-self: end;
    }
    &__text {
        grid-column: 3;
        grid-row: 3;
        justify-self: center;
        align-self: start;
    }
}