/* Page - FAQ */
.faq {
    text-align: center;
    min-height: 70vh;
}

.btn{
    width: 100%;
    border: none;
}

button {
    font-size: 15px !important;
    background-color: #20A3A3 !important;
}

.collapse {
    text-justify: inter-word !important;
}


button {
    font-size: 15px !important;
    background-color: #20A3A3 !important;
}

.collapse {
    text-justify: inter-word !important;
}

.cardBody {
    margin-bottom: 15px !important
}
