.home {
    text-align: left;
}

.home aside {
    padding: 1% 1% 0px 1%;
    overflow: auto;
    background-color: #F8F5F1;
    border: 4px solid #587B7F;
    text-transform: uppercase;
    height: 100%;
}

.home aside h5{
    margin: 0px 0px 2.5% 0px;
    width: 100%;
    border-bottom: 2px solid teal;
}

.contentHome {
    display: grid;
    grid-template-areas: 
    "texto imagen";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.contentHome .texto {
    width: 100%;
    justify-self: center;
    align-self: center;
}

.home aside {
    display: inline-block;
    overflow: auto;
    text-align: left;
    width: 100%;
    height: 600px;
}