.onePage {
    text-align: justify;
    .banner {
        background-image: url(/images/banners/onepage.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        h1 {
            text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
        }
    }
}

.onePageContainer {
    display: flex;
    flex-wrap: wrap;
    aside {
        padding: 1rem;
        justify-content: center;
        align-items: center;
    }
    .contentColumn{
        display: flex;
        width: 50%;
        min-width: 350px;
        justify-content: flex-start;
    }
}