.resumiendoDnd {
    text-align: center;
}

.presentacion {
    margin: 0px 0px 10px 0px
}

.contentBox {
    display: grid;
    margin: 1rem 0px;
    grid-template-areas: 
    "text1 handbook"
    "dados text2"
    "text3 playerSheet";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr auto 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 4rem;
    justify-items: stretch;
    align-items: stretch;
    p{
        display: flex;
        align-items: center;
    }
    aside{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#dndText1 {
    grid-area: text1;
}

.PlayerHandbook {
    grid-area: handbook;
    padding-right:  4rem;
}

#dndText2 {
    grid-area: text2;
    padding-right:  4rem;
}

.Dados {
    grid-area: dados;
}

#dndText3 {
    grid-area: text3;
}

.CharacterSheet {
    grid-area: playerSheet;
    overflow:hidden;
    padding-right:  4rem;
}

