@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

h1 {
    font-size: 3rem;
    font-weight: 500;
}

h2 {
    font-size: 2.2rem;
    font-weight: 300;
}

h3 {
    font-size: 1.8rem;
    font-weight: 500;
}

h4 {
    font-size: 1.6rem;
    font-weight: 500;
}

h5 {
    font-size: 1.2rem;
    font-weight: 500;
}

h6 {
    font-size: 1rem;
    font-weight: 500;
    font-style:italic;
}

p   {
    line-height: 1.6rem;
}
