@import "./normalize";
@import "./variables";
@import "./home";
@import "./typo";
@import "./glosario";
@import "./onePage";
@import "./resumiendo";
@import "./faq";
@import "./enlacesUtiles";
@import "./tablet";
@import "./mobile";
@import "./error";

body {
    font-size: 1.4rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    background-color: #F8ECC9;
    color: $color-text;
    text-decoration: none;
    flex-wrap: wrap;
    min-height: 100vh;
}

header {
    background-color: $color-secondary;
    padding: 0px 0px;
    div {
        display: flex;
        justify-content: center;
    }
    nav {
        background-color: $color-secondary;
        opacity: 0.8;
        transition: opacity 1s;
        &:hover {
            opacity: 1;
        }
        ul {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            li {
                background-color: $color-secondary;
                color: $color-text;
                display: flex;
                padding: 4px 10px;
                margin: 0px 5px;
                width: 140px;
                text-align: center;
                justify-content: space-around;
                align-items: center;
                transition: 1s;
                font-weight: 700;            
            }
            li:hover {
                transform: scale(1.2);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }
    }
}

main {
    background-color: $color-secondary;
    margin: 0px 3rem;
    padding: 2rem !important;
    section {
        display: flex;
        text-align: left;
        width: 100%;
        margin-bottom: 20px;
    }
    aside {
        overflow: auto;
        text-align: left;
        iframe {
            width: 100%;
        }
    }    
    picture {
        width: 100%
    }
    img {
        height: 100%;
        width: 100%;
        display: grid;
        overflow: hidden;
    }
}

ol { 
    display: block;
    list-style: disc outside none;
    margin: 1em 0;
    padding: 0 0 0 0;
    list-style-type: none;    
}

a {
    text-decoration: solid;
}

footer {
    font-family: 'STIX Two Math', serif;
    background: linear-gradient(0deg, rgba(230,188,170,1) -20%, rgba(221,151,126,1) 30%);
    .copyright {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 1rem;
        h6 {
            text-align: center;
            margin-bottom: 1rem;
        }
    }
    
}

.texto {
    color: black;
    display: inline;
    flex-direction: column;
    justify-content: center;
}

.contentColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 0px;
    .texto {
        margin-top: 3rem;
    }
    aside{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }  
}

.redes {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    a{
        display: flex;
        align-items: center;
        h5 {
            margin-left: 1rem;
        }
    }
    &__icono {
        width: 30px;
        height: 30px;
    }
}

.banner {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin:  0px;
    background-size: contain;
    height: 400px;
    color: black; 
    background-image: url(../images/banners/home.jpg);
    background-color: azure;
    background-repeat: cover;
    background-size:cover;
    h1 {
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    }
}

.internalLink {
    font-weight: 700;
}

.resaltado{
    font-style: italic;
    font-weight: 500;
}

#titulo {
    width: 200px;
    height: 120px;
}
